[submodule "sys"]
	path = sys
	url = git://github.com/UNGLinux/UNGKernel.git
	branch = 1.0-ALPHA
[submodule "9base"]
	path = 9base
	url = https://github.com/UNGLinux/9base.git
[submodule "Obase"]
	path = Obase
	url = https://github.com/UNGLinux/Obase.git
	
